body {
  display: flex;
  height: 100vh;
  /* Taille de la page = Taille de la fenêtre */
  background: linear-gradient(to top, #1e5799 0%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 50px;
  font-family: Open Sans;
}

img {
  width: 30px;
  height: auto;
  margin: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

nav {
  color: black;
  font-weight: bold;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* HOME PAGE */
.container2 {
  margin: auto;
  color: white;
}

#fond {
  width: 300px;
  height: 300px;
  background-image: url("/images/landmark.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* RESULT PAGE */

.container3 {
  color: black;
  width: 60%;
}
.info {
  display: flex;
  align-self: center;
}
.p {
  font-size: 15px;
}
.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 80px;
}

.maurine {
  margin-left: -100px;
}
